<!DOCTYPE html>
<html lang="ja">
<head>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel = "stylesheet"
 type = "text/css"
 href = "aoiro.css">
 <script type="text/javascript" src="test.js">
 </script>

  <title>景色マン</title>
  </head>

  <body>
    <h1>景色マン</h1>

    <div id="map" style="width:400px; height:300px"></div>

    <h2><a href="siraberu.html">調べる</a></h2>
    <h2><a href="toukou.html">投稿する</a></h2>
  </body>
