<!DOCTYPE html>
<html lang="ja">
<head>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

 </script>
  <title>BAE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="top">
  <body>
    <div class="example">
      <div class="title">
    <h1>BAE</h1>
  </div>
    <div id="map" style="width:400px; height:300px"></div>
    <div class="siraberu">
    <h2><a href="/serch/new">Search</a></h2>
    </div>
    <div class="toukou">
    <h2><a href="/registration/new">Submit</a></h2>
  </div>
  </div>
 </div>

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
   <p class="copyright">&copy; 2019.team.bae</p>
</body>
