<meta http-equiv="content-type" charset="utf-8">
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel = "stylesheet"
    type = "text/css"
    href = "aoiro.css">
    <script type="text/javascript" src="test.js">
    </script>
    <title>景色マン</title>
   </head>
   <body>
     <h2>映えスポットを共有しよう！！</h2>
     <p></p>
      <form method="POST" action="serch/new">
      <input type="submit" value="近くの映えスポット">
      </form>
      <form method="POST" action="registration/new">
       <input type="submit" value="自分のオススメを登録！！">
     </form>
    </body>

</html>
