<!DOCTYPE html>
<html lang="ja">
<head>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel = "stylesheet"
 type = "text/css"
 href = "aoiro.css">
 <script type="text/javascript" src="test.js">
 </script>

  <title>景色マン投稿画面</title>
  </head>

  <body>
    <h1>投稿する</h1>

    <label>名前？<br></label>
      <input type="text" name="namae" id="namae" value=つくば太郎><br>

      <label>撮影場所は？<br>
      <input type="text" name="basho" id="basho" value=洞峰公園><br></label>

      <label>題名は？<br></label>
      <input type="text" name="daimei" id="daimei" value=綺麗な桜><br>


      <br>
     <INPUT type="button" name="keisan" onClick="test()" value="投稿する"><br><br>

       <h2><a href="siraberu.html">調べるへ</a></h2>
       <h2><a href="top.html">TOPに戻る</a></h2>

  </body>
