<!DOCTYPE html>
<html lang="ja">
<head>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHgtnD1OXzaYX8XLCY_sryg0pmm61cCyU&callback=initMap"></script>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <title>BAE検索画面</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body  onload="initialize()">
  <div class="top">
  <div class="title">
  <div class="rei">
    <h1>Search</h1>
    <p>地図上から</p>
    <div id="map" style="width:400px; height:300px"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHgtnD1OXzaYX8XLCY_sryg0pmm61cCyU&callback=initMap"></script>

    <div class="uee">
    <h2><a href="/registration/new">Submitへ</a></h2>
    </div>
    <div class="sitaa">
    <h2><a href="/">TOPに戻る</a></h2>
    </div>
  </div>
</div>
</div>

<%= image_tag @baespots.photo.url , width: 100%>
  </body>
</html>
