<meta http-equiv="content-type" charset="utf-8">
<html>
   <head>
     <title>近くの映えスポット検索</title>
   </head>
   <body>
      <h2>映えスポットの絞り込み</h2>
      <form method="POST" action="mitei.cgi">
        詳細検索: <input type="text" name="keyword" size="20">
         <input type="submit" value="検索"><br>
        <input type="reset" value="条件をクリア">
      </form><br>
     <form method="POST" action="registration.html">
       <input type="submit" value="自分のオススメスポットを登録！！">
     </form>
   </body>
</html>
